SCRUBS_BASE_IMAGE=/absolute/path/to/nixos-base.qcow2
SCRUBS_VM_TYPE=vz
SCRUBS_ARCH=aarch64
SCRUBS_SEED_ISO=https://releases.nixos.org/nixos/25.11/nixos-25.11.9418.c7f47036d3df/nixos-minimal-25.11.9418.c7f47036d3df-aarch64-linux.iso
# SCRUBS_GUEST_USER=jem
# SCRUBS_BOOTSTRAP_USER=jem
