[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[user]
  name = Jeremy Banka
  email = hello@jeremybanka.com
[core]
  pager = delta
  excludesfile = ~/.gitignore_global
[interactive]
  diffFilter = delta --color-only
[delta]
  features = nice line-numbers
  navigate = true
[delta "nice"]
  commit-decoration-style = blue ol
  file-style = yellow bold
  file-decoration-style = blue ul
  hunk-header-style = omit
[delta "line-numbers"]
  line-numbers = true
  line-numbers-left-style = blue
  line-numbers-right-style = blue
  line-numbers-minus-style = red bold
  line-numbers-plus-style = green bold
[merge]
  conflictStyle = zdiff3
[init]
  defaultBranch = main
[rebase]
  autosquash = true
[alias]
  a = add
  aa = add --all
  b = branch
  bd = branch -D
  bn = checkout -b
  c = commit
  ca = commit --amend
  ch = checkout
  cm = commit --message
  d = diff
  dn = pull
  f = fetch
  l = log --oneline
  la = log --oneline --abbrev-commit --all --graph --decorate --color
  ll = log
  on = push --set-upstream
  r = reset
  ra = reset .
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rf = reflog
  rmc = rm -r --cached .
  rv = remote --verbose
  s = status
  sh = stash
  up = push
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold reverse
  newNormal = green bold
  newHighlight = green bold reverse
[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
