SCRUBS_BASE_IMAGE=/absolute/path/to/dotfiles/vms/images/scrubs.qcow2
SCRUBS_VM_TYPE=vz
SCRUBS_ARCH=aarch64
SCRUBS_SEED_ISO=https://releases.nixos.org/nixos/25.11/nixos-25.11.9418.c7f47036d3df/nixos-minimal-25.11.9418.c7f47036d3df-aarch64-linux.iso
# SCRUBS_GUEST_USER=jem
# SCRUBS_BOOTSTRAP_USER=jem
# SCRUBS_CLEAN_AUTH_PROFILE=work
# SCRUBS_GH_TOKEN_KEYCHAIN_SERVICE=scrubs-gh-token
# SCRUBS_GH_TOKEN_KEYCHAIN_ACCOUNT=github.com
# SCRUBS_GH_TOKEN_KEYCHAIN_SERVICE__PERSONAL=scrubs-gh-token-personal
# SCRUBS_GH_TOKEN_KEYCHAIN_ACCOUNT__PERSONAL=github.com
# SCRUBS_GH_TOKEN_KEYCHAIN_SERVICE__WORK=scrubs-gh-token-work
# SCRUBS_GH_TOKEN_KEYCHAIN_ACCOUNT__WORK=github.com
# SCRUBS_CODEX_AUTH_JSON_PATH=~/.codex/auth.json
# SCRUBS_CODEX_AUTH_JSON_PATH__WORK=~/.codex/work-auth.json
