name: Integration

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  Lint:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2.0.1

      - name: Install Dependencies
        run: bun i

      - name: ESLint
        run: bun lint:eslint

      - name: Type Check
        run: bun lint:types
  
  Test:
    runs-on: macos-15
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      
      - name: Install Homebrew
        run: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        shell: zsh {0}

      - name: Run Setup
        run: ${{ github.workspace }}/setup.sh
        shell: zsh {0}
        env:
          VIRTUAL_HOME: ${{ github.workspace }}/home

      - name: Install Bun
        run: |
          brew tap oven-sh/bun
          brew install bun
        shell: zsh {0}

      - name: Install NPM Globals
        run: ${{ github.workspace }}/scripts/install-npm-globals.sh
        shell: zsh {0}
